body {
    margin: 0;
    letter-spacing: .2px;
    text-rendering: optimizeLegibility;
    cursor: default;
}

#header {
   background: linear-gradient(to right, #0b0f1d, #202537);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 3rem;
   width: 100%;
   height: 50px;
   margin: 0%;
   position: fixed;
   align-items: center;
   align-content: center;
   
}

.logocallback {
    flex-flow: row;
    flex-wrap: nowrap;
    width: -moz-min-content;
    width: min-content;
    flex: auto;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2.5px;
    background-color: #b8b8b8;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

.logocallback h1 { 
    background: -webkit-linear-gradient(#e7e8ec, #b8bfcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Marvel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 20px;
    
}
.menu {
    width: 450px;
    flex: auto;
}

.menu ul {
    display: flex;
    flex-flow: row;
    background: -webkit-linear-gradient(#e7e8ec, #b8bfcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;

}

.menu li {
    padding-right: .6em;
    margin: 0.2px 0;
}